<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371459569023-l1nk0j1n8uek8ioq95jpv9uknl9k5l8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371459569023-l1nk0j1n8uek8ioq95jpv9uknl9k5l8e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>371459569023-khuu81vol8u9bbis0hkammh2raps12ku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBagvzUgXynCJphAA0hFazCth5Tw19OKPM</string>
	<key>GCM_SENDER_ID</key>
	<string>371459569023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melaninpeople.mobile</string>
	<key>PROJECT_ID</key>
	<string>melaninpeople-app</string>
	<key>STORAGE_BUCKET</key>
	<string>melaninpeople-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371459569023:ios:981a0e27b3369674ffd64a</string>
	<key>DATABASE_URL</key>
	<string>https://melaninpeople-app.firebaseio.com</string>
</dict>
</plist>